publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Maven
        run: mvn clean package

      - name: Publish to JFrog Artifactory
        run: mvn deploy
        env:
          registry: <jfrog artifactory url>
          username: ${{ secrets.JFROG_USERNAME }}
          password: ${{ secrets.JFROG_PASSWORD }}
          GITHUB_TOKEN: "${{ secrets.REPOSITORY_TOKEN }}"
